Options +FollowSymlinks

RewriteEngine on

RewriteRule ^xml$ pages/xml.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ $1/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/(.*)/ index.php?p=$1&folder=$2 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/ /Users/martijn/Websites/cs164/index.php?p=$1 [L]

php_value upload_max_filesize 8M
php_value post_max_size 8M
php_value max_execution_time 250
php_value max_input_time 250
