/* MET UITLEG. OP HET EIND WEGHALEN COMMENTS, MAAR SOMMIGE ZIJN SOWIESO INFORMATIEF DUS DIE KUNNEN VERTAALD WORDEN NAAR ENGELS */

/* In de nette vorm zijn elementen die maar 1 keer voorkomen dus gedef. met ID, als ze meerdere keren (kunnen) voorkomen met een CLASS. ID's worden hier benaderd met een # ervoor, classes met een .
html-eigen tags zoals <a>, <div> enz kunnen zonder # of . ervoor benaderd worden */

* {
	/* Werk browser-eigen margin en padding weg voor alle elementen */
	margin: 0; /* Als 0, dan hoeft er geen px of pt of em achter, want 0 is 0 */
	margin: 0;
}

body {
    overflow: -moz-scrollbars-vertical;
    overflow: scroll;
	text-align: center;
	font-family: Arial, Helvetica, Sans-serif; /* probeer Arial, lukt niet? -> helvetica. Lukt niet? -> sans-serif*/
	font-size: 14px;
	background: url('images/backgroundtile.png') fixed top repeat-y #f4f4f4;
	color: #5B5B5B;
}

a,a :link, a:visited, a:active {
	color: #d36c00;
	text-decoration: none;
}
a:hover {
	color: #ff8300;
	cursor:pointer;
}

h1{
	font-size: 160%;
	font-weight: bold;
	color: #d36c00;
}
h2{
	font-size: 130%;
	color: #d36c00;
}
h3{
	font-size: 100%;
	color: #d36c00;
	text-decoration:underline;
}
.black {
	color:black;
}

.button, .button:link, .button:visited, .button:active {
	font-weight: bold;
	padding: 5px;
	background-color: #efefef;
	border: 1px #dddddd solid;
	cursor: pointer;
}
.button:hover {
	background-color: #ff8300;
	color: white;
	border: 1px #ff8300 solid;
}

.delete-link, .save-link {
  width: 30px;
  height: 16px;
  display: block;
  float: left;
  cursor: pointer;
}

.delete-link {
  background:url("images/delete_icon.png") no-repeat;
}

.save-link {
  background:url("images/save_icon.gif") no-repeat;
}

.messages_course_name {
  color: #FF0000;
}

.crossline {
	background:url("images/dot.gif") 0 50% repeat-x;
}
.crossline span {
	margin-left:15px;
	padding:0 5px; 
	background: #ffffff;
}


.info, .success, .warning, .error, .standout {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    width:570px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('images/info.png');
}

.standout {
    color: #00529B;
    background-color: #effaff;
    padding-left:10px;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('images/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('images/error.png');
}

.comments{
border:solid 2px #b7ddf2;
background:#ebf4fb;
width:600px;
padding:5px 14px 14px 14px;

}

.comments textarea{
padding:4px 4px;
border:solid 1px #aacfe4;
margin:2px 0 20px 10px;
overflow:hidden;
}


.comments label{
display:block;
font-weight:bold;
text-align:right;
min-width:160px;
float:left;
}
.comments .small{
color: #858585;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
}
.comments .input{
font-size:12px;
padding:4px 4px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}

.message {
	padding: 5px 0 0 25px;
}

.submit {
float:right;
	font-weight: bold;
	padding: 5px;
	background-color: #4682B4;
	color:white;
	border: 1px #dddddd solid;
}
.submit:hover {
	background-color: #ff8300;
	color: white;
	border: 1px #ff8300 solid;
}

.delete_comment {
	width:16px;
	height:16px;
	float:right;
	margin-top:-9px;
	margin-right:-18px;
	background-image:url('images/delete_icon.png')	
}
.delete_reply {
	width:16px;
	height:16px;
	float:right;
	margin-top:-5px;
	margin-right:-13px;
	background-image:url('images/delete_icon.png')	
}


#page {
	margin: auto; /* nette manier van centreren (samen met body's text align center) <- zo hoeven we geen <center> tags te gebruiken die ouderwets zijn */
	text-align: left; /* omdat elementen eigenschappen overerven, de align weer op standaard (left) zetten ipv center */
	width: 990px;
}

#header {
	background-color: white; /* hexadecimal RRGGBB */
	position: relative;
	height: 145px;
}

#logo {
	position: absolute; /* absoluut positioneren betekent exact neerzetten */
	top: 40px;
	margin-left: 50px;
	z-index: 5; /* depth */
}
#logo img {
	border:none;
}
#banner {
    background: url("images/banner.jpg");
    width: 990px;
    height: 140px;
}
.transbox {
  width: 220px;
  height: 108px;
  background-color:#000000;
  border:1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  padding:15px 25px 15px 10px;
  font-size: 13px;
  color:#ffffff;

}
.transbox img {
  float: right;
  width: 75px;
  height: 75px;
  margin-left: 3px;
}

#titletrans
  {
  color: #FF5F11;
  font-size: 15px;
  font-weight:bold;
  }

.title {
	font-size: 16px;
	font-weight: bold;
}

#slogan {
	font-size: 12px;
	color:  #ababab;
}

#user-bar {
	float:right;
	text-align: right;
	position: relative; /* needed to be able to specify z-index */
	z-index: 2; /* smaller than logo z-index*/
	top:10px;
	padding:5px;
	padding-top: 10px;
	font-size: 15px;
	background-color: #f8f8f8;
	border: 1px #e3e3e3 solid;
	height: 24px;
	margin-right: 30px;	
}

.submit-orange {
	background-color: #ff8300;
	color:white;
	border-color: #d36c00;
	margin-right: 10px;
}

#nav{
	top: 70px;
	border-bottom: 1px solid #e3e3e3;
	border-top: 1px solid #e3e3e3;
	font-size: 16px;
	list-style:none;
	font-weight:bold;
	/* Clear floats */
	float:left;
	width:970px;
	position:relative;
	z-index:5;
	padding:0px;
	padding-left:20px;

	
}
#nav li{
	float:left;
	margin-right:10px;
	position:relative;
}
#nav a{
	display:block;
	padding:5px 20px 5px 20px;
	color:#4D4D4D;
	text-decoration:none;
}
#nav a:hover{
	color:#d36c00;
}

/*--- DROPDOWN ---*/
#nav ul{
	background:#fff;
	list-style:none;
	position:absolute;
	left:-9999px;
	border: 1px solid #e3e3e3;
	padding:0px;
	margin:0px;
}
#nav ul li{
	float:none;
}
#nav ul a{
	white-space:nowrap;
	padding:5px 8px 5px 18px;
}
#nav li:hover ul{
	left:0;
}
#nav li:hover ul a{
	text-decoration:none;
}
#nav li:hover ul li a:hover{
	background:#fff;
}

#active  {
	background-color: #ff8300;	
}

#active a, #active a:hover{
	color:white;
	font-weight: bold;
}

#content {
	position: static;
	border-bottom: 1px #e3e3e3 solid;
	border-top:1px #e3e3e3 solid;
	padding: 20px 45px 20px 45px; /* resp: TOP RIGHT BOTTOM LEFT */
}

#footer {
	margin-top: 10px;
	padding-top: 10px;
	color: #ababab;
	text-align: center;
}

.clearfix {
	clear: both; /* Fix van clearboth */
}

#top {
	text-align: center;	
}

/* Here you will find the css for the previous and next buttons.
This is done by using images. A different image is used for the normal view,
the mouse over, and the onclick (active) image. Also is inluded a span tag,
this way when a person's browser does not support the images for some reason
it will show the text decalred in the span tag in the html file. */
#previousbtn
{
	display: block;
	width: 40px;
	height: 40px;
	background: url("images/previousbtn.png") no-repeat 0 0;
}

#previousbtn:hover
{ 
	background: url("images/previousbtnhover.png") no-repeat 0 0;
}

#previousbtn:active
{
	background: url("images/previousbtnclick.png") no-repeat 0 0;
}

#previousbtn span
{
	position: absolute;
	top: -999em;
}


#nextbtn
{
	float: right;
  	display: block;
  	width: 40px;
  	height: 40px;
  	background: url("images/nextbtn.png") no-repeat 0 0;
}

#nextbtn:hover
{ 
	background: url("images/nextbtnhover.png") no-repeat 0 0;
}

#nextbtn:active
{
	background: url("images/nextbtnclick.png") no-repeat 0 0;
}

#nextbtn span
{
	position: absolute;
	top: -999em;
}

ul#tabs {
	list-style-type: none;
	margin: 30px 0 0 0;
	padding: 0 0 0.3em 0;
}

ul#tabs li {
	display: inline;
}

ul#tabs li a {
	color: #42454a;
	background-color: #dedbde;
	border: 1px solid #c9c3ba;
	border-bottom: none;
	padding: 0.3em;
	text-decoration: none;
}

ul#tabs li a:hover {
	background-color: #f1f0ee;
}

ul#tabs li a.selected {
	color: #000;
	background-color: #f1f0ee;
	font-weight: bold;
	padding: 0.7em 0.3em 0.38em 0.3em;
}

div.tabContent {
	border: 1px solid #c9c3ba;
	padding: 0.5em;
	background-color: #f1f0ee;
}

div.tabContent.hide {
	display: none;
}

th {
  text-align: left;
}

#course_overview tr {
  position: relative;
  height: 30px;
}

div.inhoud {
	border: 5px solid #f1f0ee;
}

.done, .notdone {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    width:570px;
	height:60;
}

.done {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('images/success.png');
}
.notdone {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('images/warning.png');
}