{% extends "base.html" %}
{% block contents %}

<section id="content" class="markdown">
	<h1>Edit sections</h1>

	{% for section, pages in sections %}
	<table class="table admin-section-editor">
		<tr>
			<th>
				<a class="btn"><i class="icon-remove"></i></a>
				<a class="btn disabled"><i class="icon-arrow-up"></i></a>
				<a class="btn"><i class="icon-arrow-down"></i></a>
			</th>
			<th>
				<input type="text" value="{{ section }}" style="font-weight:bold;">
				<a class="btn"><i class="icon-pencil"></i></a>
			</th>
		</tr>
		{% for page, link in pages %}
		<tr>
			<td>
				<a class="btn"><i class="icon-remove"></i></a>
				<a class="btn disabled"><i class="icon-arrow-up"></i></a>
				<a class="btn"><i class="icon-arrow-down"></i></a>
			</td>
			<td>
				<input type="text" value="{{ page }}">
				<a class="btn"><i class="icon-pencil"></i></a>
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td>
				<input type="text" placeholder="Add a page">
				<a class="btn"><i class="icon-plus"></i></a>
			</td>
		</tr>
	</table>
	{% endfor %}

	<table class="table admin-section-editor">
		<tr>
			<th></th>
			<th>
				<form action="{{ url('admin/sections/add') }}">
				<input type="text" placeholder="Add a section" name="name">
				<input type="hidden" name="parent" value="1">
				<button type="submit" class="btn"><i class="icon-plus"></i></button>
				</form>
			</th>
		</tr>
	</table>
</section>

{% endblock %}
