{% extends "base.html" %}
{% block contents %}

<section id="content" class="markdown">
	{% if logged_in %}
	<form enctype="multipart/form-data" method="POST" action="{{url('admin/settings')}}" class="form-horizontal well">
		<fieldset>
		    <legend>Profile</legend>

			{% if new %}
				<div class="alert alert-info"><a class="close" data-dismiss="alert">&times;</a><b>Because this is the first time you log in, we need your name and emailadress.</b></div>
			{% endif %}
			{% if message_user != "" %}
				<div class="alert alert-error"><a class="close" data-dismiss="alert">&times;</a><b>{{ message_user }}</b></div>
			{% endif %}
			{% if message_avatar != "" %}
				<div class="alert alert-error"><a class="close" data-dismiss="alert">&times;</a><b>{{ message_avatar }}</b></div>
			{% endif %}

			<div class="control-group">
				<label class="control-label" for="firstname">Name <font color="red">*</font></label>
				<div class="controls">
					<input type="text" class="input-medium" id="firstname" name="firstname" value="{{username[0]}}" placeholder="firstname" required>
					<input type="text" class="input-medium" id="lastname" name="lastname" value="{{username[1]}}" placeholder="lastname" required>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="email">E-mail <font color="red">*</font></label>
				<div class="controls">
					<input type="email" class="input-xlarge" id="email" name="email" value="{{email}}" placeholder="email" required>
				</div>
			</div>
			{% if not new %}
			<div class="control-group">
				<label class="control-label" for="type">Type</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="type" name="type" value="{{type}}" disabled>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="type">UvAnetID</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="type" name="type" value="{{uvanetid}}" disabled>
				</div>
			</div>
			{% endif %}
			<div class="control-group">
				<label class="control-label" for="avatar">Avatar</label>
				<div class="controls">
					<img src="{{ url(user_avatar) }}"><br>
					<input type="file" class="input-xlarge" id="avatar" name="avatar" placeholder="avatar">
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Save changes</button>
			</div>
		</fieldset>
		<input type="hidden" name="MAX_FILE_SIZE" value="200000" />
		<input name="uvanetid" type="hidden" value="{{uvanetid}}" /><br />
	</form>
	{% else %}
	<div class="alert alert-error"><b>U are not logged in and therefore not authorized to see this page</b></div>
	{% endif %}
</section>

{% endblock %}
