{% extends "base.html" %}

{% block contents %}

<section id="content" class="markdown">
	<h1>Student overview</h1>
	<table class="table table-bordered table-striped">
		<tr>
			<th><b>Login</b></th>
			<th><b>Firstname</b></th>
			<th><b>Lastname</b></th>
			<th><b>Type</b></th>
			<th><b>Progress</b></th>
			<th><b>Last login</b></th>
		</tr>
		{% for list_uvanetid, user in users|sort %}
		<tr>
			<td>{{ list_uvanetid }} {% if uvanetid == list_uvanetid %}*{% endif %}</td>
			<td>{{ user['first_name'] }}</td>
			<td>{{ user['last_name'] }}</td>
			<td>{{ user['type'] }}</td>
			<td><div class="progress"><div class="bar" style="width: {{ user['progress'] }}%;"></div></div></td>
			<td>{{ user['last_login'] | ago }}</td>
		</tr>
		{% endfor %}
	</table>
</section>

{% endblock %}
