{% for id, comment in page_comments %}
<div class="row">
	<div class="span2">
		<img src="{{ url(comment['user_avatar']) }}">
	</div>
	<div class="span8">
		<div class="pull-right">
			<a href="#delete_comment" data-toggle="modal" onclick="commentID='{{id}}'" class="close">&times;</a> 
		</div>					
		<strong>{{ comment[2][0] }}</strong><br>
		<div class="markdown">
			<p>{{ comment[0] | raw }}</p>
		</div>
		{% if not comment[3] == '' %}
		<p><a href="{{ download_link(comment[3][0]) }}"><i class="icon-file"></i> {{comment[3][1]}}</a></p>
		{% endif %}
		<small>{{ comment[1] | ago }}</small>
		<div class='comments'>
		<div id="0{{id}}">
			{% include "_replies_ajax.html" %}
		</div>
			<div class="row form">
				<div class="span8">
					<div class="comment-form comment-answer-form">
						<form action="/replies/new">
						<textarea id="new-reply{{id}}" rows="1" onfocus="$('#submit{{id}}').show();" placeholder="Post a new reply"></textarea>
						<div class="submit" id="submit{{id}}">
							<input class="btn btn-primary btn-mini pull-right" type="submit" onclick="newReply(this, {{id}}, document.getElementById('new-reply{{id}}').value); return(false);" value="Reply" />
						</div>
						</form>
					</div>
				</div>
			</div>
			</div>
		</div>
</div>
<hr />
{% endfor %}
