{% extends "base.html" %}
{% block contents %}
<section id="content" class="markdown">
	<h1>{{ page_title }}</h1>
	{% for section, pages in page_done_links %}
	<h2>{{ section }}</h2>
	<table class="course-items table table-bordered table-striped">
		<tr>
			{% if logged_in %}
			<th>done</th>
			{% endif %}
			<th style="text-align: left;">course item</th>
		</tr>
		{% for page, link in pages %}
		<tr>
			{% if logged_in %}
			<td><input type="checkbox" disabled="yes" {{ link[1]|checked }}></td>
			{% endif %}
			<td style="text-align: left;"><a href="{{ link[0] }}">{{ page }}</a></td>
		</tr>
		{% endfor %}
	</table>
	{% endfor %}
</section>
{% endblock %}
